/* body{      ---->>> These are Internal CSS
    background-color: rgb(205, 244, 146);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
 h1{
    color: red;
    font-style:normal;
    font-size: 30px;
 } 

p{
    color: blue;
    border: 2px dotted red;
    padding: 20px;
    margin: 20px;
} */
#Hello{
    color: red;
    background-color: rgb(205, 244, 146);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid blueviolet;
}
.welcome{
    color: rgb(237, 12, 12);
    background-color: lightblue;
    color: blue;
    border: 2px solid red;
    padding: 20px;
    margin: 20px;
}
.great{
    color: rgb(177, 0, 6);
    background-color:lightblue  ;
    color: blue;
    border: 2px dotted rgb(34, 0, 255);
    padding: 20px;
    margin: 20px;
}
.note{
    color: red;
}
#first{
    color: green;
    font-size: 20px;
    background-color: gold;
}
.abc{
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:normal;
    font-size: 35px;
    background-color: yellow;
}
